@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

h1, h2, h3, h4, h5, p {
    color: #555;
}

body {
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

/* header */

.header-img {
    width: 100%;
    height: 500px;
    background-size: cover !important;
background-repeat: no-repeat !important;
background-position: 50% 50%;
transition: 0.7s;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 550px;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    z-index: -1;
}

.layer {
    background-color: rgba(0,0,0,.5);;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 100%;
    left: -1px;
    right: -1px;
    background-color: rgba(0,0,0,0.45);
    transition: transform .3s, opacity .6s;
    pointer-events: none;
    z-index: -1;
   
}


.header-text-ad {
    width: 45%;
    color: #fff;
    margin-top: 100px;
    transition: 0.7s;
}

.header-text-h4 {
    color: #fff;
    font-size: 2.7em;
    font-weight: bolder;
    font-family: 'Merriweather Sans', sans-serif;
}

.header-text-p {
    color: #fff;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

.header-button {
    width: 40%; 
    height: 40px;
    border-radius: 3px;
    text-align: center;
}

.header-button:hover {
   cursor: pointer; 
}

.header-button-icon {
    margin-top: 6px;
    margin-left: 4px;
}

.header-img img {
    min-width: 100%;
  height: auto;
}

.navbar-icon {
    font-size: 14px;
    margin-right: 2px 
}

.navbar-dark .navbar-nav .nav-link{
    transition: 0.7s;   
    /* color: rgba(255,255,255,0.8); */
}

.hi {
    transition: 0.7s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}


.menu-shrink {
    padding: 10px 0;
    background-color: rgba(0,0,0,0.95);
    top: 0px;
    left: 0px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.float-panel {
    width:100%;
    z-index:300;
    transition:all 0.5s;
}

.fixed {
    box-shadow:0 2px 6px rgba(0,0,0,0.2);  
    animation:slide-down 0.7s;
    opacity:0.9;   
    background: black; 
}                  

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}



/* main */



#owl.item{
    margin: 3px;
  }
  #owl .item img{
    display: block;
    width: 100%;
    height: auto;
  }

.main-icon {
    font-size: 45px;
    display: flex;
    justify-content: center;

}

.title-h4 {
    font-family: 'Merriweathe', sans-serif;
}

.title-h2 {
    font-family: 'Merriweather Sans', serif;
}

.title-h5 {
    font-weight: 600;
}

.item {
    border-right: 12px solid #fff;
}

.call-us {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-us-content {
    display: block;
    text-align: center;
}

.call-us-title {
    color: #fff;
    font-size: 2em;
    
}

.call-us p {
    color: #fff;
}

.call-us span {
    color: #fff;
    font-size: 1.3em;
}
 

/* footer */

.footer-link {
    list-style-type: none;
    margin-left: -35px;
}

.footer-link li {
    margin: 5px 0px;
}

.footer-list {
    border-bottom: 1px solid rgba(0,0,0,0.1);;
    height: 32px;
}

.footer-list a {
    text-decoration: none;
    color: #000;
}

.detail {
    font-size: 0.9em;
}

.copyright{
    font-size: 0.85em;
    font-weight: bolder; 
}

.divider {
    height: 3px;
display: block;
background-color: rgba(0,0,0,0.1);
margin: 1em 0 1em;
    margin-top: 1em;
width: 100%;
max-width: 45px;
}

/* color */

.bg-blue {
    background : #208CBF;
}

.bg-grey {
    background : #616161;
}

.bg-darks {
    background : #2d2d2d;
}


/* about page */

.visi-box {
    width: 100%;
    height: 43vh;
}

.visi-box h5 {
    color: #fff;
}

.visi-box p {
    color: #fff;
}

.visi-box-icon {
    color: #fff;
    font-size: 35px;
    margin-right: 20px;
    height: 90px;
    border-left: 2px solid rgba(255, 255, 255, 0.664);
}

.history-image {
    height: 350px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    
    /* width: 50%; */
}

.image-1 {
    background-image: url("../../img/about/image001-640x480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.image-2 {
    background-image: url("../../img/about/image003-640x480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.image-3 {
    background-image: url("../../img/about/image007-640x480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* kontak-kami */
.btn-submit{
    width: 100%;
    background : #111;
    color: #fff;
    border: 2px solid #111;
}

.btn-submit:hover {
    color: #111;
    background: #fff;
}

/* queries */

@media only screen and (min-width: 320px) {
    
    .header-text-ad {
        width: 100%;
        margin-top: 15px;
    }

    .header-text-h4 {
        font-size: 2em;
    }

    .header-text-p {
        display: none;
    }

    .header-img {
        height: 500px;
    }

    #owl {
        margin-top: 40px;
    }

    .fill{
        height: 500px;
    }

    .main-icon {
        margin-right: 40px;
        margin-bottom: 15px
    }

  }


@media only screen and (min-width: 500px) {
    
    .header-text-ad {
        width: 100%;
        margin-top: 15px;
    }

    .header-text-p {
        display: none;
    }

    .header-text-h4 {
       font-size: 2.7em;
    }

    .header-img {
        height: 500px;
    }

    #owl {
        margin-top: 40px;
    }

    .fill{
        height: 500px;
    }

    .main-icon {
        margin-right: 40px;
        margin-bottom: 15px
    }

  }


@media only screen and (min-width: 576px) {
    
    .header-text-ad {
        width: 100%;
        margin-top: 15px;
    }

    .header-text-p {
        display: block;
    }

    .header-img {
        height: 530px;
    }

    .fill{
        height: 530px;
    }

    .main-icon {
        margin-right: 40px;
        margin-bottom: 15px
    }

  }

  @media only screen and (max-width: 576px) {
    
    .header-text-ad {
        width: 100%;
        margin-top: 40px;
    }

    .header-img {
        height: 440px;
    }

    .fill {
        height: 440px;
    }

  }

  @media only screen and (min-width: 768px) {
    
    .header-text-ad {
        width: 100%;
        margin-top: 10px;
    }

    .header-img {
        height: 450px;
    }

    .fill {
        height: 450px;
    }

  }


  @media only screen and (min-width: 992px) {
    
    .header-text-ad {
        width: 50%;
        margin-top: 25px;
    }

    .header-img {
        height: 550px;
    }

    .fill {
        height: 550px;
    }

  }
  

  @media only screen and (min-width: 1100px) {
    
    .header-text-ad {
        width: 60%;
        margin-top: 35px;
    }

    .header-img {
        height: 550px;
    }

    .fill {
        height: 550px;
    }

  }






